.create-task-container {
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem;
  background: linear-gradient(
    180.3deg,
    rgb(110, 136, 161) 25%,
    rgb(221, 221, 221) 50%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 100px;
}

.create-task-container h2 {
  margin-bottom: 1.5rem;
  font-size: 2rem;
  color: #2d3748;
}

.input-field2 {
  margin-bottom: 1.5rem;
  text-align: left;
  position: relative;
}

.input-field2 label {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: #4a5568;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: all 0.3s ease;
  pointer-events: none;
}

.input-field2 label.active {
  top: -10px;
  left: 10px;
  font-size: 0.75rem;
  color: #3182ce;
}

.input-field2 input,
.input-field2 select {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #e2e8f0;
  border-radius: 8px;
  font-size: 1rem;
  color: #2d3748;
  background-color: rgba(255, 255, 255, 0.554);
}

.input-field2 input:focus + label,
.input-field2 input:not(:placeholder-shown) + label,
.input-field2 select:focus + label,
.input-field2 select:not(:placeholder-shown) + label {
  top: -10px;
  left: 10px;
  font-size: 0.75rem;
  color: black;
}

.input-field2 input:focus,
.input-field2 input:valid,
.input-field2 select:focus,
.input-field2 select:valid {
  border-color: #3182ce;
}

.error-message,
.success-message {
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
  font-size: 1rem;
  color: white;
}

.error-message {
  background-color: #e53e3e;
}

.success-message {
  background-color: #38a169;
}

.btn-submit {
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  background-color: #3182ce;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-submit:hover {
  background-color: #2b6cb0;
}
.back-button {
  position: absolute;
  top: 90px;
  left: 20px;
  padding: 10px 15px;
  background-color: #4a5a63; /* Adjust color as needed */
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  z-index: 1000; /* Keeps the button on top */
}

.back-button:hover {
  background-color: #3c4b52; /* Darker shade on hover */
}
