/* src/components/Signup/Signup.css */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.signup-wrapper {
  padding: 2rem;
  min-height: 100vh;
  background: url("https://cdn.pixabay.com/photo/2016/03/27/22/22/space-1283629_960_720.jpg")
    no-repeat center center/cover;
}
.signup-wrapper .rounded {
  border-radius: 100px;
}

.input-field3 {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}

.input-field3 label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}

.input-field3 input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}

.input-field3 input:focus ~ label,
.input-field3 input:valid ~ label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

button:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}

.error-popup.show {
  background: #ff4d4d;
  color: white;
  display: block;
}

.success-popup.show {
  background: #4caf50;
  color: white;
  display: block;
}

button {
  background: #fff;
  color: #000;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  transition: 0.3s ease;
}

.error {
  color: red;
  font-size: 20px;
  margin-top: 5px;
}
@keyframes AnimationName {
  0% {
    background-position: 18% 0%;
  }
  50% {
    background-position: 83% 100%;
  }
  100% {
    background-position: 18% 0%;
  }
}
